.freddie-button__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
  color: var(--freddie-alias-label-primary);
  background: transparent;
  padding: 0 14px;
}

.freddie-button__button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.freddie-button__md {
  height: 36px;
}

.freddie-button__sm {
  height: 28px;
  font-size: 12px;
  line-height: 18px;
  padding: 0 10px;
  border-radius: 14px;
}

.freddie-button__primary {
  background: var(--freddie-alias-button-primary-fill);
  color: var(--freddie-alias-label-primary-foreground);
}

.freddie-button__primary:hover:not(:disabled) {
  background: var(--freddie-alias-button-primary-hover);
}

.freddie-button__ghost:hover:not(:disabled) {
  background: var(--freddie-alias-interactive-bg-hover);
}

.freddie-button__ghost:active:not(:disabled) {
  background: var(--freddie-alias-interactive-bg-active);
}

.freddie-button__outline {
  border: 1px solid var(--freddie-alias-border-l2);
  background: transparent;
}

.freddie-button__outline:hover:not(:disabled) {
  background: var(--freddie-alias-interactive-bg-hover);
}

.freddie-button__toolbar {
  background: var(--freddie-alias-button-tool-bar-fill);
}

.freddie-button__toolbar:hover:not(:disabled) {
  background: var(--freddie-alias-button-tool-bar-hover);
}

.freddie-button__icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
}
