.freddie-stateDot__dot,
.freddie-stateDot__matrix {
  --freddie-state-ongoing: var(--dsw-static-deepseek-450);
}

.freddie-stateDot__dot {
  position: relative;
  display: inline-block;
  flex: none;
}

.freddie-stateDot__dot::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: currentColor;
  opacity: 0.1;
}

.freddie-stateDot__dot::after {
  content: '';
  position: absolute;
  inset: 20%;
  border-radius: 50%;
  background: currentColor;
}

.freddie-stateDot__dot[data-state='done'] {
  color: var(--freddie-alias-state-success-primary);
}

.freddie-stateDot__dot[data-state='warning'] {
  color: var(--freddie-alias-state-warn-primary);
}

.freddie-stateDot__dot[data-state='error'] {
  color: var(--freddie-alias-state-error-primary);
}

.freddie-stateDot__matrix {
  flex: none;
  color: var(--freddie-state-ongoing);
}

.freddie-stateDot__cell {
  fill: currentColor;
  opacity: 0.15;
  animation: freddie-stateDot__state-dot-chase 1s infinite;
}

@keyframes freddie-stateDot__state-dot-chase {
  0%, 12.4% { opacity: 1; }
  12.5%, 24.9% { opacity: 0.6; }
  25%, 37.4% { opacity: 0.35; }
  37.5%, 100% { opacity: 0.15; }
}
